.formSearch{
  display: flex;
  height: 100%;
}
.formSearchInput{
  width: 100%;
  outline: 0;
  font-size: 16px;
  padding: 5px;
}
.formSearchBtn{
  outline: 0;
  border-radius:0;
  background: #3182ce;
  width: 40px;
}
.btnIcon{
  color: white;
}